.measure{
    display: flex;
    flex-direction: column;
   
}
.inch-measurement{
    display: flex;
    align-self: center;
    height: 5.08cm;
    width: 5.08cm;
    background-color: grey;
    margin: 10px;
}
.length{
    margin-left: 1in;
    margin-top: 1.8in;
}
.height{
    margin-left: -1.05in;
    margin-top: 1in;
}
.cm-measurement{
    display: flex;
    align-self: center;
    height: 10cm;
    width: 10cm;
    background-color: grey;
    border: 1px solid black;
}
.cm-length{
    margin-left: 5cm;
    margin-top: 9.5cm;
}
.cm-height{
    margin-left: -5cm;
    margin-top: 5cm;
}