@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Londrina+Outline|Megrim|Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.Navigation{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 10%;
  height: 12%;
  padding-top: 20px;
}
a{
  text-align: center;
  margin: 10px;
  text-decoration: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}
.Welcome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15%;
  margin-bottom: 1%;
  margin-top:5%;
}
h1{
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-top:0;
}
h2{
  font-family: 'Megrim', cursive;
  font-size: 30px;
}
.Dashboard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50vh;
  margin: 0 20%;
  align-items: center;
}
.DashboardTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MyPatterns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 60%;
  margin: 4% 20% 0 20%;
  border-top: 1px solid black;
  align-items: center;
  overflow: auto;
}
.pattern{
  display: flex;
  flex-direction: row;
  height: 120px;
  border: 1px solid pink;
  width: 100%;
  margin: 2px;
  justify-content: space-between;
}
.patternTitle{
  margin-top: 5%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.patternAuthor{
  margin-top: 5%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
img{
  height: 120px;
  object-fit: scale-down;
  border-radius: 15px;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
}
.Tools{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  margin: 0% 20% 0 20%;
  align-items: center;
  padding-bottom: 10px;
}
.measure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 50px 10% 30px 10%;
}
.cm-measurement{
  display: flex;
  align-self: center;
  height: 10cm;
  width: 10cm;
  background-color: grey;
  border: 1px solid black;
}
.cm-length{
  margin-left: 5cm;
  margin-top: 9.5cm;
}
.cm-height{
  margin-left: -5cm;
  margin-top: 5cm;
}
p{
  margin: 10px 100px;
  text-align: justify;
}
.Needles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  margin: 5% 20% 0 20%;
  border: 1px solid black;
  align-items: center;
  overflow: auto;
}
.needle{
  display: flex;
  flex-direction: row;
  height: 50px;
  border: 1px solid pink;
  width: 99%;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
}
.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  margin: 0% 20% 0 20%;
  align-items: center;
  overflow: auto;
  border-top: 1px solid black;
}
.ProjectInput{
  margin-bottom: 20px;
}
input{
  border-radius: 15px;
  height: 30px;
}
button{
  border-radius: 15px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.ProjectList{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 10px;
}
.projectCounter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin: 5px;
}
.rowCounter{
  display: inline-flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
}

/* font-family: 'Raleway Dots', cursive;
font-family: 'Megrim', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Almendra Display', cursive; */